h1 {
    font-family: 'Sega Logo Font';
    color: #0ccac4;
    font-weight: 200;
}

@font-face{
    font-family: 'Sega Logo Font';
    font-style: normal;
    font-weight: normal;
    src: local('Sega Logo Font'), url('SEGA.TTF') format('opentype');
}